<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="profile.js"></script>
    <link rel="stylesheet" href="profile.css"/>
</head>
<body>

  <!-- Navigation bar -->
  <div class="navbarA">

    <a style="float: left; outline: none; box-shadow: none; color: rgb(19, 253, 222);"><b>OAuth-Drive-Upload</b></a>

    <div class="dropdownB">
        <button class="dropbtn"><%= name %>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdownB-content">
            <a style="cursor: pointer;">My Profile</a>
            <a style="cursor: pointer;">Logout</a>
        </div>
    </div>

</div>

    <!-- <h1>Profile</h1> -->
    <img class="profile-picture" src='<%= imgSrc %>'/>
    <h4 style="text-align: center;"><%= name %></h4>
    
    <br/>

    <form action="/auth/upload" method="POST" enctype="multipart/form-data">

      <table class="upload-file">

        <tbody>
          <tr>

            <td><input type="file" class="form-control" name="file" required id=""/></td>
            <td><img src="files/clear-24px.svg" aria-label="Clear" style="cursor: pointer"></td>
            <td><button style="margin-left: 1em;" type="submit" class="btn btn-primary">Upload File</button></td>

          </tr>
        </tbody>

      </table>


        <div>

          <br/>
          <h4>Most Recent Files</h4>
          <br>

          <table id="dataTable">

            <thead style="background-color: rgb(190, 190, 190);">
              <tr>
                <td><b>File Type</b></td>
                <td><b>File Name</b></td>
                <td><b>Version</b></td>
                <td><b>Modified</b></td>
                <td><b>Created</b></td>
                <td><b>File Size</b></td>
                <td><b>Owned By</b></td>
                <td><b>Action</b></td>
              </tr>
            </thead>

              <% for(let i=0; i < fileList.length; i++) {
                
                let owner = "";
                let photoLink = "";
                let size = "";

                if (!fileList[i].size) {
                  size = "Not Available";
                }
                else{
                  size = fileList[i].size + " Bytes";
                }
                
                fileList[i].owners.map(data => {

                  owner = data.displayName;
                  photoLink = data.photoLink;
                });

                %>
              
               <tbody>
                <tr>
                  <td style="text-align: center;"><img src='<%= fileList[i].iconLink %>'/></td>
                  <td><%= fileList[i].name %></td>
                  <td><%= fileList[i].version %></td>
                  <td><%= fileList[i].createdTime %></td>
                  <td><%= fileList[i].modifiedTime %></td>
                  <td><%= size %></td>
                  <td><%= owner%> <img src='<%= photoLink %>'/> </td>
                  <td><button type="button" class="btn btn-danger" onclick="deleteButtonClick('<%= fileList[i].id %>')">Delete File</button></td>
                </tr>
              <% } %>
               </tbody>

            </table>
        </div>
    </form>

</body>
</html>