<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="profile.js"></script>
</head>
<body>
    <h1>Profile</h1>
    <h4>Name: <%= name %></h4>
    <img src='<%= imgSrc %>'/>
    
    <br/>

    <form action="/auth/upload" method="POST" enctype="multipart/form-data">
        <div>
          <br/>
          <br/>
          <input
            type="file"
            class="form-control"
            name="file"
            required
            id=""
          />
        </div>
        <div>
          <br/>
          <button>
            Upload File
          </button>
        </div>
        <br/>
        <div>
          <br/>
          <h4> Most Recent Files</h4>
          <table>
            <% for(let i=0; i < fileList.length; i++) { %>
               <tr>
                 <td><img src='<%= fileList[i].iconLink %>'/></td>
                 <td><%= fileList[i].name %></td>
                 <td><button onclick="deleteButtonClick('<%= fileList[i].id %>')">Delete File</button></td>
               </tr>
            <% } %>
            </table>
        </div>
    </form>

</body>
</html>